$dark-grey: rgba(169, 169, 169, 1);
$light-gray: rgba(169, 169, 169, 1);
$dark-orange: rgba(240, 96, 0, 1);
$orange: rgba(255, 125, 39, 1);
$blue: rgba(0, 166, 243, 1);
$blue-gradient: linear-gradient(to left, #00a6f3, white);

//*****************LANGUAGE********************//

.language {
  color: black;
  display: inline-block;
}

.language:hover {
  color: white !important;
  background: $blue !important;
}
